services:
  database:
    image: mysql:8.4
    networks:
      - private_network
    container_name: mysql_db
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-h", "localhost"]
      interval: 5s
      retries: 5
      start_period: 30s

  migration:
    build:
      context: .
      dockerfile: docker/Dockerfile
    networks:
      - private_network
    container_name: migration

  vendora_api:
    build:
      context: .
      dockerfile: docker/Dockerfile
    networks:
      - public_network
      - private_network
    container_name: vendora_api
    depends_on:
      migration:
        condition: service_completed_successfully
    healthcheck:
      test:
        - "CMD"
        - "node"
        - "-e"
        - |
          const http = require('http');
          const options = {
            hostname: 'localhost',
            port: process.env.PORT || 3000,
            path: '/v1/health',
            timeout: 2000
          };
          const req = http.get(options, (res) => {
            console.log('Status:', res.statusCode);
            process.exit(res.statusCode === 200 ? 0 : 1);
          });
          req.on('error', (err) => {
            console.error(err);
            process.exit(1);
          });
      interval: 10s
      retries: 3
      start_period: 10s

  nginx:
    image: nginx:alpine
    networks:
      - public_network
    container_name: nginx
    ports:
      - "${NGINX_PORT:-80}:80"
      - "${NGINX_SSL_PORT:-443}:443"
    depends_on:
      vendora_api:
        condition: service_healthy

networks:
  public_network:
  private_network:
    internal: true
