name: Commitlint

on:
  pull_request:
    branches:
      - main
      - dev

jobs:
  commitlint:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.1
        with:
          fetch-depth: 0

      - name: Setup Node.js
        uses: actions/setup-node@v6.1.0
        with:
          node-version: 24

      - name: Enable pnpm
        run: |
          corepack enable
          corepack prepare pnpm@10.26.2 --activate

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Lint commit message
        run: |
          pnpm commitlint \
            --from origin/${{ github.base_ref }} \
            --to HEAD \
            --verbose
